[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
seaborn = "*"
pandas = "*"
pipenv-setup = "*"
setuptools = "*"
wheel = "*"
pytest-cov = "*"
twine = "*"
jupyter = "*"
nbimporter = "*"

[requires]
python_version = "3.8"
